.profile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border: 1px solid white;*/
    height: 100vh;
}

.profile {
    width: 900px;
    padding: 10px;
    background-color: #f5f5f5;
}

.tabs button {
    padding: 10px 20px;
    margin-right: 4px;
    background-color: #f5f5f5;
    border: none;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    outline: none;
    font-size: 15px;
    font-weight: bold;
}
.tabs button:hover{
    color: #2424a6;
}
.tabs button.active {
    background-color: white;
    border-bottom: 2px solid #46418d;
}

.tab-content div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    background-color: white;
    border-top: none;
}

.tab-content ul {
    list-style: none;
}

.tab-content li {
    padding: 8px 0;
    border-bottom: 1px solid #eee;
}

