.register-form{

}
.register-form form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color:white;
    border-top:3px solid white;
}
.register-form h1{
    color:white;
    text-align: left;
    margin-left:10px;
    font-size: 40px;
}
.register-personal-info{
    display: flex;
    flex-direction: column;
    gap:15px;
    padding:40px;
}
.register-personal-info label{
    text-align: left;
    font-weight: bold;
}
.register-personal-info input{
    padding:8px;
    border-radius: 5px;
    border:none;
    outline:0;
    box-shadow: 2px 2px 2px black;
}
.register-dorm-info{
    display: flex;
    flex-direction: column;
    color:white;
    background-color: #3a3a52;
    gap:15px;
    padding:40px;
}
.register-dorm-info input{
    padding:8px;
    border-radius: 5px;
    border:none;
    outline:0;
    box-shadow: 2px 2px 2px black;
}
.register-dorm-info
.register-dorm-info{
    text-align: left;
    font-weight: bold;
}

.register-form form select{
    padding:8px;
    border-radius: 5px;
    border:none;
    outline:0;
    box-shadow: 2px 2px 2px black;
}