.registerpage{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registerpage header{
    text-align: left;
    color:white;
    width:100vw;
    font-size: 20px;
}

.registerpage header h1{
    margin-left:15px;
}