.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Mloginbtn {
    border:none;
    padding:10px;
    background-color: white;
    cursor: pointer;
    font-weight: bold;
}

