/* src/index.css */
.notification-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
}

.notification {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 500px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.notification.success {
    background-color: #4caf50;
}

.notification.error {
    background-color: #f44336;
}

.notification.info {
    background-color: #2196f3;
}

.notification.warning {
    background-color: #ff9800;
}
