.App {
  text-align: center;
  background-color:  #1f203e;
  display: flex;
  flex-direction: column;
  height:auto;
  width: 100vw;
}
html, body, #root {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color:  #1f203e;
}

